/* Functions.css - Classes only, max length 9 characters */
.bracket-small {
    background-image: url(https://res.cloudinary.com/betterthanbeforeworld/image/upload/v1592974885/bracket-small.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bracket-large {
    background-image: url(https://res.cloudinary.com/betterthanbeforeworld/image/upload/v1592973754/Bracket-large.png);
    background-repeat: no-repeat;
    background-position: 0 0 0 10;
    background-size: contain;
}

.speech {
    background-image: url(https://res.cloudinary.com/betterthanbeforeworld/image/upload/v1592973755/speech.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30rem;
}

.transition-1 {
    background-image: url(https://res.cloudinary.com/betterthanbeforeworld/image/upload/v1593408378/TransitionSection02_japbzn.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150% 100%;
}

.transition-2 {
    background-image: url(https://res.cloudinary.com/betterthanbeforeworld/image/upload/a_0180/v1593408379/TransitionSection06_gfksj0.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150% 100%;
}

.transition-3 {
    background-image: url(https://res.cloudinary.com/betterthanbeforeworld/image/upload/v1593408378/TransitionSection04_m42bvi.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150% 100%;
}

.card {
    /* min-width: 335px; */
    background-color: #FFFFFF;
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    max-width: 50rem;
}

.card.bracket-large {
    background-repeat: no-repeat;
    background-position: -1.7rem;
    background-size: 7rem 115%;
}

.responsive-iframe {
    position: relative;
    padding-bottom: 80%;
    /*16:9*/
    min-height: 52rem;
    max-height: 53rem;
    overflow: hidden;
}

.responsive-iframe.video {
    position: relative;
    padding-bottom: 0%;
    /*16:9*/
    height: 0%;
    min-height: auto;
    max-height: auto;
    overflow: hidden;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.object-contain {
    object-fit: contain;
}

<style type="text/css">#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

@media(min-width:768px) {
    .card.bracket-large {
        background-repeat: no-repeat;
        background-position: 1.5rem;
        background-size: contain;
    }
}