/* Identity.css - Native html elements only, no classes or ids */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "MPLUSRounded1c-Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  font-family: "D4T", sans-serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  max-width: 30rem;

}

h2 {
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
  max-width: 30rem;

}

h3 {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 30rem;

}

h4 {
  font-family: "MPLUSRounded1c-black";
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 2.5rem;
  max-width: 30rem;

}

h5 {
  font-family: "MPLUSRounded1c-black";
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 30rem;

}


h6 {
  font-family: "MPLUSRounded1c-Medium";
  font-weight: medium;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 30rem;

}

/* h6 strong {
  font-family: "MPLUSRounded1c-Black";
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.5;
} */

p {
  max-width: 30rem;
  padding-bottom: 3rem;
}

p.text-large {
  font-family: "MPLUSRounded1c-Light";
  font-size: 1.25;
  line-height: 1.75;
  max-width: 30rem;
}


a {
  font-family: "MPLUSRounded1c-Medium";
  font-weight: medium;
  font-size: 1.5rem;
  line-height: 1.08;
  text-decoration: none;

}

input.btn,
a.btn {
  font-family: "D4T", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #FBFBFB;
  background-color: #000000;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #000000;
  vertical-align: middle;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

input.btn:hover,
a.btn:hover {
  color: #000000;
  border-color: #000000;
  background-color: #FBFBFB;
}

blockquote {
  font-family: "MPLUSRounded1c-Medium";
  font-weight: medium;
  font-size: 1rem;
  line-height: 1.25;
}

cite {
  font-family: "MPLUSRounded1c-light";
  font-weight: medium;
  font-size: 1rem;
  line-height: 1.25;
}


ol {
  margin: 0 0 1.5rem 0;
}

ul {
  list-style: none;
  margin: 0 0 1.5rem 0;
}

code {
  font-family: monospace;
  font-size: 14px;
  margin: 0 0 1.5rem 0;
}

pre {
  margin: 0 0 1.5rem 0;
}

form {
  margin: 0 0 1.5rem 0;
}

form>input {
  border: solid 1px grey;
  padding: 1rem .75rem;
  margin: 0 0 1.5rem 0;
}

div>label {
  display: block;
  padding-left: .25rem;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

div>input {
  display: block;
  padding-left: .25rem; 
  margin-bottom: .25rem;
}

form>textarea {
  width: 100%;
  border: solid 1px grey;
  padding: 1rem .75rem;
  margin: 0 0 1.5rem 0;
}

form>button {
  border: solid 1px grey;
  padding: .5rem 2rem;
  color: black;
}

form>button:hover {
  /* border: solid 1px #b8c2cc; */
  color: white;
  background-color: #b8c2cc;
}

table {
  margin: 0 0 1.5rem 0;
}

th {
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #03359A;
}

section {
  width: 100%;
  padding: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4.5rem;
  /* padding-bottom: 4.5rem; */
}

blockquote {
  font-size: 23.04px;
  font-weight: 300;
  line-height: 3rem;
  padding-left: 1rem;
  border-left: dotted 1px black;
  font-style: italic;
}

.bg-btboff-white {
  background: #FAF4E2;
}

.bg-btbblue-lighter {
  background: #DCE6F4;
}

.bg-btbgrey-lighter {
  background: #F0F0F0;
}

.btbgreen {
  color: #01BB00;
}


@media(min-width:768px) {
  h1 {
    font-size: 3rem;
  }
}